{% extends template('widget') %}

{% define data = {
    isVisible: _widget.isVisible,
    quote: _widget.quote,
} %}

{% block body %}
    {% if data.isVisible %}
        <div class="spacing-bottom">
            <a class="button button--expand button--success"
               href="{{ url('punchout-catalog/cart/transfer') }}" {{ qa('punchout-catalog-go-to-transfer') }}>
                {{ 'punchout-catalog.checkout' | trans }}
            </a>
        </div>
        <div class="spacing-bottom">
            <a class="button button--expand button--warning"
               href="{{ url('punchout-catalog/cart/cancel') }}" {{ qa('punchout-catalog-go-to-cancel') }}>
                {{ 'punchout-catalog.cancel' | trans }}
            </a>
        </div>
    {% endif %}
{% endblock %}

